
/************************************************** INCLUDES ******************************/
@import "_components/_variables";
@import "_components/_reset";
@import "_components/_grid";
@import "_components/_breadcrumb";
@import "_components/_navigation";
@import "_components/_table";
@import "_components/form-custom";
@import "_components/_notification";
@import "_components/_panels";
@import "_components/editor";

/************************************************** GLOBAL ******************************/
header, section, footer {
  padding: 50px 0;
}

header, footer {
  background: #f7f7f7;
  text-align: center;
}

header{
  h1{
    padding-top: 25px;
  }
}

/************************************************** SECTION ******************************/
section {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  article {
    margin-top: 50px;
    overflow: hidden;

    &:first-child {
      margin-top: 0;
    }
  }

  .title {
    margin-bottom: 50px;

    font-size: 40px;
    color: $color-1;
  }

  .subtitle {
    margin-top: 30px;

    font-size: 34px;
    color: $color-2;
  }

  .sub-subtitle {
    margin: 100px 0 20px;

    font-size: 25px;
    color: $color-3;
  }

  h2 + .sub-subtitle, h3 + .sub-subtitle, p + .sub-subtitle {
    margin: 30px 0 20px;
  }

  p{
    font-family: arial;
    line-height: 1.8em;
  }

  code {
    margin: 15px 0;
    padding: 20px 0 20px 50px;
    display: block;
    background: #eee;
    line-height: 2;
    position: relative;

    &:before {
      padding-top: 22px;
      display: block;
      width: 40px;
      height: calc( 100% - 22px );
      background: #333;
      position: absolute;
      top: 0;
      left: 0;
      
      content: "code";
      font-family: arial;
      font-size: 11px;
      color: #fff;
      text-align: center;
    }

    &.inline {
      margin: 0;
      padding: 3px 5px;
      display: inline-block;
      @include radius( 3px );
      border: 1px solid #ccc;
      line-height: 1;
      color: #180fcc;
      font-weight: bold;
     
      &:before {
        display: none;
      }
    }
  }

  .example {
    padding: 25px 0 5px;
    border-bottom: 2px dotted #333;
    background: #F7F7F4;
    position: relative;

    &:before {
      padding: 3px 10px;
      width: 100%;
      background: #333;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      content: "result";
      font-family: arial;
      font-size: 11px;
      color: #fff;
      line-height: 1;
    }
  }

  .grid {
    margin-bottom: 10px;
    padding: 15px;
    min-height: 20px;
    background: #ccc;
    
    font-family: $base-font;
    text-align: center;
  }
}

.menu {
  padding: 10px;
  width: 100%;
  overflow: hidden;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  text-align: center;

  a {
    padding: 2px 10px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
  }
}

.container {
  overflow: hidden;
}

.gist {
  margin: 15px 0;

  .line {
    line-height: 1.5em;
  }
}