
@import "_variables";

/**********************************************************************/

.editor{
	color: darken( $color-default , 20% );
	// line-height: $base-line-height + em;

	h1, h2, h3, h4, h5, h6{
		font-family: $base-font;
		/*font-weight: bold;*/
	}

	p{
		font-family: inherit;
	}

	a{
		font-size: inherit;
		border-bottom: 1px dotted $color-1;
		color: inherit;
		font-weight: inherit;

		&:hover{
			color: $color-2;
			border-bottom: 1px dotted $color-2;
		}
	}

	img{
		margin: 10px;
		max-width: 100%;
		height: auto;
	}

	ul, ol{
		padding-left: 30px;
		clear: both;
	}

	li{
		line-height: 2em;
	}

	blockquote{
		margin: convert-px-em(30) 0 convert-px-em(30) convert-px-em(20);
		padding: 20px 0 20px 20px;
		border-left: 4px double #ddd;

		font-size: convert-px-em(22);
		font-style: italic;

		p{
			margin: 0 !important;
			padding: 0 !important;
			font-family: $variant-font;
		}
	}

	iframe{
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		display: block;
		max-width: 100%;
	}

	@media screen and (max-width: 767px){
		p{
			line-height: ($base-line-height / .9) + em;
		}
	}
}