
@import "_variables";
@import "_buttons";

/**********************************************************************/

.form{
    position: relative;

    .line, p{
        display: block;
        overflow: hidden;
    }

    .box{
        padding: 3px;
        float: left;

        &:first-child{
            margin-left: 0;
        }
    }

    input, select, textarea{
        width: 100%;
        border-style: solid;
        box-shadow: inset 0 -3px 2px #eee;
        @include transition(3);

        color: $color-default;
        
        &:focus{
            border-color: lighten($color-options , 3%);
            background: #fdfdfd;
            box-shadow: 0px 0px 3px $color-options, inset 0 0 0 #fff;

            color: $color-3;
        }
    }

    input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"]{
        padding: ($padding-top-bottom - 2) + px $padding-left-right + px;
    }

    input[type="month"], input[type="week"], input[type="time"]{
        // margin-bottom: 1px;
    }

    input[type="file"]{
        cursor: pointer;
        font-size: 12px;
    }

    input[type="range"], input[type="range"]:focus{
        padding: $padding-top-bottom + px 0;
        border: none;
        box-shadow: none;
    }

    input[type="color"]{
        padding: 0;
        height: $padding-top-bottom * 4 + px;
    }

    input[type="password"]{
        letter-spacing: 7px;
    }

    select{
        padding: ($padding-top-bottom - 1px) $padding-left-right + px;
    }

    textarea{
        height: 150px;
        resize: none;
    }

    [disabled]{
        cursor: not-allowed;
    }

    input[type="radio"], input[type="radio"]:focus, input[type="checkbox"], input[type="checkbox"]:focus{
        box-shadow: none;
    }

    .radio{
        margin-top: $grid-gutter / 2 + px;

        &:nth-child(2){
            margin-top: 0 !important;
        }

        label{
            margin-left: $grid-gutter+px;
            padding: 2px;
            display: inline-block;
            cursor: pointer;

            &:first-child{
                margin-left: 0;
            }
        }

        input{
            margin-right: 5px;
            padding: 0;
            width: auto;
            border: none;
            @include radius( 0 );
        }
    }

    .radio-inline{
        margin-top: 23px; /* some os valores de margin-bottom e line-height do <p> */
        padding: $input-border-width + px 0;
        float: left;

        label{
            padding: $padding-top-bottom + ( $padding-top-bottom / 2 ) + px 0 0 $padding-left-right + px;
            display: inline-block;
            cursor: pointer;

            &:first-child{
                margin-left: 0;
            }
        }

        input{
            margin-right: 5px;
            padding: 0;
            width: auto;
            border: none;
        }
    }

    /************************************************** QUERIES ********************/

    @if $responsive == 0 {
        .box{
            margin-left: $grid-gutter + px;
        }
    }
    @else{
        @media screen and (max-width: 768px){
            .box{
                margin-top: $grid-gutter / 2 + px;
            }
        }
        
        @media screen and (min-width: 769px){
            .box{
                margin-left: percentage($grid-gutter / $wrapper );
            }
        }
    }
}