
@import "_variables";

.form{
    position: relative;
}

/**********************************************************************/

.required{
    p{
        padding-left: 15px;
        position: relative;

        &:after{
            content: "*";
            position: absolute;
            top: 0;
            left: 0;

            font-size: 20px;
            color: #f00;
            font-weight: bold;
        }
    }

    .error{
        border: $input-border-width * 2 + px solid #f00 !important;
        background-color: #fff2f2;
        position: relative;

        font-family: $variant-font;
        color: #f00;

        &:focus{
            border-color: #f00;
            background-color: #fff;
            box-shadow: 0px 0px 3px 1px lighten( #f00 , 15% ), inset 0 0 0 #fff;
        }
    }

    &-message{
        padding: 5px 7px;
        background-color: #f00;
        position: absolute;
        z-index: 99;

        font-family: $base-font;
        font-size: 12px;
        color: #fff;

        &:after {
            content: " ";
            border-style: solid;
            border-width: 8px;
            border-color: transparent;
            border-bottom-color: #f00;
            position: absolute;
            top: -15px;
            left: 5px;
        }
    }
}