
@import "_variables";
@import "_typography";

/**********************************************************************/

*{
    margin: 0;
    padding: 0;
    outline: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-style: inherit;
    font-weight: inherit;
}

body{
    line-height: $base-line-height;
}

header, nav, menu, section, article, aside, footer, figure, figcaption,
ul, ol, img, form{
    display: block;
}

header, section, footer{
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, span, li, sub, sup, small, address, cite, dfn, abbr, acronym, blockquote, q, table, label, input, select, textarea, button, .editor, .panel, .notification{
    font-family: $base-font;
    font-weight: normal;
    text-decoration: none;
}

h1{
    font-size: convert-px-em($base-size + 30);
}

h2{
    font-size: convert-px-em($base-size + 24);
}

h3{
    font-size: convert-px-em($base-size + 16);
}

h4{
    font-size: convert-px-em($base-size + 10);
}

h5{
    font-size: convert-px-em($base-size + 6);
}

h6{
    font-size: convert-px-em($base-size + 2);
}

p, a, span, li, table, label, input, select, textarea, button, code{
    font-size: convert-px-em($base-size);
}

code, pre, pre *{
    font-family: monospace;
    font-size: convert-px-em($base-size * 1.3);
    line-height: normal;
}

sub, sup, small, .small{
    font-size: convert-px-em($base-size / 1.6);
}

sub, sup{
    position: absolute;
    font-family: arial, sans-serif;
}

sup{
    margin-top: -8px;
}

sub{
    margin-top: 5px;
}

span, label{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: inherit;
}

strong, b, .strong{
    font-weight: bold;
}

em, i, .italic, cite, dfn{
    font-style: italic;
}

abbr, acronym{
    border-bottom: 1px dotted $color-1;
    text-transform: uppercase;
}

blockquote, q{
    quotes: "" "";
}

ul{
    list-style: disc inside;
}

ol{
    list-style: decimal inside;
}

a, img, input{
    border: none;
}

table{
    /*border-collapse: collapse;*/
    border-spacing: 0
}

iframe{
    border: none;
}

button{
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;

    -webkit-padding-before: 0px;
    -webkit-padding-end: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;

    line-height: 1 !important;
}

button::-moz-focus-inner{
    padding: 0;
    border: 0
}

/** Fontello **/
[class^="icon-"]:before, [class*=" icon-"]:before{
    width: auto !important;
    margin: 0 !important;
}

/************************************************** PRESET ******************************/
.no-bullet{
    list-style: none;
}

.through{
    text-decoration: line-through;
}

.clear{
    float: none !important;
    clear: both;
}

.block{
    display: block;
    overflow: hidden;
}

.spaceblock{
    width: 100%;
    height: 20px;
    @extend .clear;
}