
/************************************************** GRID ***********************************/
$responsive: 1; // 0 fixed ~ 1 responsive
$wrapper: 950;
$grid-columns: 12;
$grid-gutter: 10;

/************************************************** FORM ***********************************/
$padding-top-bottom: 10;
$padding-left-right: 15;
$input-border-width: 1;
$border-radius: 3px;

/************************************************** COLORS *********************************/
//Default colors
$color-default: #555;
$color-confirm: #4aac24;
$color-options: #2c82c7;
$color-cancel: #c72c2c;

//Special colors 
$color-1: #2b2b2b;
$color-2: #25a595;
$color-3: #7c7c7c;

/************************************************** TYPOGRAPHY *****************************/
$base-font: 'Maven Pro', sans-serif;
$variant-font: '', sans-serif;
$base-size: 16;
$base-line-height: 1.4;





/************************************************** MIXINS & FUNCTIONS *********************/

@mixin radius( $top: 3px , $right: $top , $bottom: $top , $left: $top ){
    border-radius: $top;
}

@mixin transition( $time ){
	-webkit-transition: $time / 10 + s;
	   -moz-transition: $time / 10 + s;
	    -ms-transition: $time / 10 + s;
	     -o-transition: $time / 10 + s;
	        transition: $time / 10 + s;
}

@mixin gradient( $color-1 , $color-2 ){
	background: $color-1;
	background: -webkit-linear-gradient(top, $color-1 0%, $color-2 100%);
	background:    -moz-linear-gradient(top, $color-1 0%, $color-2 100%);
	background:     -ms-linear-gradient(top, $color-1 0%, $color-2 100%);
	background:      -o-linear-gradient(top, $color-1 0%, $color-2 100%);
	background:   linear-gradient(to bottom, $color-1 0%, $color-2 100%);
}

/***/

@function convert-px-em( $value , $context: 16 ){
	@return #{ $value / $context + 'em' };
}